{{#each boards}}
  <div class="container">
    <div class="{{this.name}}" data-id="{{this.id}}">
        <h2>Board: {{this.name}}</h2>
      <a href="#" data-toggle="modal">Get Details</a>
    </div>
  </div>
{{/each}}
