$dark-brown:#4b3832;
$lighter-brown: #854442;
$beige: #fff4e6;
$tan: #be9b7b;

.about {
  background-color: $tan;
}

.create-board-start {
  background-color: $lighter-brown;
}

.anatomy-cheese-board {
  background-color: $beige;
}


.create-board {
  background-color: $lighter-brown;
}

.hard-cheese {
  background-color: $beige;
}

.semi-hard-cheese {
  background-color: $tan;
}

.semi-soft-cheese {
  background-color: $lighter-brown;
}

.soft-cheese {
  background-color: $beige;
}
