$dark-brown:#4b3832;
$lighter-brown: #854442;
$beige: #fff4e6;
$tan: #be9b7b;
$light-gray: #ddd;
$black: #000;
$burnt-red: #C34017;

body {
  color: $burnt-red;
}

.family-descriptions {
  color: $beige;

  .h1 {
    color: $burnt-red;
    }
}

.scroll-link {
  color: $black;
}

.create-link {
  color: $tan;
}

h1 {
  color: $burnt-red;
}

.anatomy-cheese-board {
  color: $beige;
}

.all-cheese {
  color: $beige;
}
