$dark-maroon:#AB1A1A;
$lighter-brown: #854442;
$beige: #fff4e6;
$tan: #be9b7b;
$black: #000;
$burnt-red: #c34017;
$dark-red: #b92f2c;
$dark-gray: #0f100d;
$off-white: #f5f0ef;
$yellow: #f4b424;
$yellow-shadow: #020403;




.modal-header,
.modal-body,
.modal-footer {
  background-color: $dark-gray;
}

body {
  color: $burnt-red;
}

.family-descriptions {
  color: $beige;
}


h1,
.scroll-link {
  color: $yellow;
  text-shadow: 0 1px 0 $yellow-shadow;
}

.anatomy-cheese-board,
.create-intructions {
  color: $beige;
}

.try {
  color: $yellow;
}


.all-cheese {
  color: $beige;
}

a {
  color: $beige;
}


.navbar-default .navbar-brand,
.dropdown {
  color: $black;
}


.btn-primary {
  color: $black;
  background-color: $dark-maroon;
  border: 0;
}

.close {
  color: $beige;
}

#get-details-modal {
  color: $beige;
}

#get-details-modal h2 {
  color: $yellow;
}
